body{
    background-color: #202937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
html, body {
    height: 100vh; /* Ensures full height for the flex container */
}
body > div{
    flex: 1;;
}

#f_content, #f_img {
    flex: 1; /* Ensures equal space */
}

#f_img img {
    max-width: 100%; /* Prevents overflow */
    height: auto; /* Maintains aspect ratio */
}

#header{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
}

#sec{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

#third{
    background-color: #E6E7EB;
    display: flex;
    flex-direction: row;
}

#fourth{
    background-color: whitesmoke;
}

#fou_inside{
    background-color: #3C83F6;
}

#footer{
    color: whitesmoke;
}
